<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Curleez &amp; ME Brewery</title>
    <script type="importmap"></script>

    <!-- Facebook -->
    <meta property="og:title" content="Curleez &amp; ME Brewery" />
    <meta property="og:description" content="After numerous beerfestivals, 1100 beers on untappd, and talking about beer, it became time to start brewing our own!" />
    <meta property="og:image" content="https://www.curleezme.nl/img/facebook_pic.png" />
    <meta property="og:url" content="https://www.curleezme.nl" />
    <meta property="fb:admins" content="100000219503055" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tabulator-tables@6.3.1/dist/css/tabulator.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tabulator-tables@6.3.1/dist/css/tabulator_bulma.min.css">
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/blackout">
    <link rel="stylesheet" href="css/site.css">
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/#">Curleez &amp; ME</a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item has-text-weight-bold" href="#about">About</a>
          <a class="navbar-item has-text-weight-bold" href="#news">News</a>
          <a class="navbar-item has-text-weight-bold" href="#beers">Beers</a>
          <a class="navbar-item has-text-weight-bold" href="#checkins">Checkins</a>
          <a class="navbar-item has-text-weight-bold" href="#contact">Contact</a>
        </div>
      </div>
    </nav>

    @RenderBody()

    <script type="text/javascript" src="https://kit.fontawesome.com/84ea389064.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@6.3.1/dist/js/tabulator.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/luxon@2.3.1/build/global/luxon.min.js"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });

      });
    </script>

    @RenderSection("scripts", false)
</body>
</html>
